.parallax{
  background-image: url('https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}